* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');


.bgimg {
    background: linear-gradient(#0000000e, #00000004), url(image/background1.jpg) fixed;
    background-size: cover;
}

.bgimg img {
    max-width: 100%;
}

/*nav header*/

.header {
    background-color: #fff;
    color: #000;
}

.head-container {
    width: 80%;
    margin: auto;
}

.row-head {
    display: flex;
}

.nav-name {
    padding: 20px;
    width: 30%;
}

.nav-name:hover {
    cursor: pointer;
}

.nav-head {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    width: 17%;
    padding: 20px;
}

.link a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.link a:hover {
    color: hsl(325, 100%, 50%);

}


/*home section*/

.home {
    color: #fff;
}

.color-change {
    color: hsl(325, 100%, 50%);
    font-size: 35px;
}

.container-home {
    width: 80%;
    margin: auto;
}

.row-home {
    padding: 60px 0 60px 0;
}

.col-home {
    padding: 40px;
    line-height: 35px;
}

.cv-home {
    padding: 30px;
}

.cv-home a {
    padding: 20px;
    border-radius: 30px 30px 0 30px;
    text-decoration: none;
    color: #fff;
    background: hsl(325, 100%, 50%);
}

.cv-home:hover a {
    border: 4px solid #fff;
    color: #0717fc;
}

.icon-home {
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
}

.home-link {
    padding: 20px 30px 20px 20px;
}

.home-link iconify-icon {
    font-size: 40px;
}

.home-link a {
    text-decoration: none;
    color: #fff;
}

.git a:hover {
    color: #000;
}

.mail a:hover {
    color: red;
}

.linked a:hover {
    color: rgb(0, 162, 255)
}

/*media query*/

@media(min-width:320px) {
    header {
        display: none;
    }

    .container-home {
        width: 90%;
    }

    .row-home {
        display: flex;
        flex-wrap: wrap;
    }

    .col-home {
        width: 100%;
    }

    .cv-home {
        width: 100%;
    }

    .icon-home {
        width: 100%;
        padding: 20px;
    }
}

@media(min-width:690px) {
    header {
        display: none;
    }

    .container-home {
        width: 90%;
    }

    .row-home {
        display: flex;
        flex-wrap: wrap;
    }

    .col-home {
        width: 100%;
    }

    .cv-home {
        width: 100%;
    }

    .icon-home {
        width: 100%;
        padding: 20px;
    }
}

@media(min-width:1024px) {
    header {
        display: block;
    }

    .container-home {
        width: 90%;
    }

    .row-home {
        display: flex;
        flex-wrap: wrap;
    }

    .col-home {
        width: 100%;
    }

    .cv-home {
        width: 100%;
    }

    .icon-home {
        width: 100%;
        padding: 20px;
    }
}

/*About section*/

.sec-about {
    padding: 30px;
}

.sec-about h2 {
    text-align: center;
    padding: 10px 20px 30px 20px;
}

.sec-about h2:hover {
    color: hsl(325, 100%, 50%);
}

.container-about {
    width: 90%;
    margin: auto;
}

.col-1-about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.image {
    width: 30%;
    padding: 5px;
    background: url(image/backedu.jpg);
    overflow: hidden;
}

.image:hover img {
    transition: all 2s;
    transform: scale(1.1, 1.1);
}

/* .zoom:hover {
    background: #00dfe7;
    padding: 20px;
} */

.image img {
    max-width: 100%;
}

.content-about {
    width: 70%;
    padding: 10px;
}


.details-person {
    padding: 20px 10px;
    font-size: 18px;
    color: gray;
}

.details-person span {
    color: hsl(325, 100%, 50%);
}

.about-me {
    padding: 10px;
    font-size: 20px;
    text-align: start;
    color: gray;
}

.col-2-about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box-education {
    width: 50%;
    height: 50vh;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: linear-gradient(#0f0f0f71, #08000000), url(image/backedu.jpg);
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

.hidden {
    padding: 10px;
}


.hidden:hover {
    transition: all 2s;
    transform: scale(1.1);
}

.box-edu {
    padding: 10px;
}

/*media query*/

@media(min-width:320px) {
    .container-about {
        width: 100%;
        margin: auto;
    }

    .head-about {
        font-size: 25px;
    }

    .col-1-about {
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        width: 80%;
    }

    .content-about {
        width: 100%;
    }

    .details-person {
        padding: 0;
        font-size: 17px;
    }

    .col-2-about {
        display: flex;
        flex-wrap: wrap;
    }

    .box-education {
        width: 80%;
        height: auto;
    }

}

@media(min-width:690px) {
    .container-about {
        width: 100%;
        margin: auto;
    }

    .head-about {
        font-size: 40px;
    }

    .col-1-about {
        display: flex;
        flex-wrap: wrap;
    }

    .details-person {
        padding: 10px 5px;
        font-size: 17px;
    }

    .image {
        width: 80%;
    }

    .content-about {
        width: 100%;
    }

    .col-2-about {
        display: flex;
        flex-wrap: nowrap;
    }

    .box-education {
        width: 50%;
        height: 65vh;
    }
}

@media(min-width:1024px) {
    .container-about {
        width: 90%;
        margin: auto;
    }

    .head-about {
        font-size: 50px;
    }

    .col-1-about {
        display: flex;
        flex-wrap: nowrap;
    }

    .image {
        width: 30%;
    }


    .details-person {
        padding: 20px 10px;
        font-size: 23px;
    }

    .content-about {
        width: 70%;
    }

    .col-2-about {
        display: flex;
        flex-wrap: nowrap;
    }

    .box-education {
        width: 50%;
        height: 50vh;
    }
}

/*skill section*/


.skill-section {
    text-transform: uppercase;
    padding: 30px;
}

.class-skill h2 {
    text-align: center;
}

.class-skill h2:hover {
    color: hsl(325, 100%, 50%);
}

.class-skill h3 {
    margin: 5px;
}

.width-skill {
    width: auto;
}

.class-skill {
    width: 600px;
    margin: 60px auto;
    color: #000;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.class-skill li {
    list-style: none;
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(24, 0, 236)0%, rgb(2, 204, 255)100%);
}

.html {
    width: 90%;
    animation: html 3s;
}

.js {
    width: 50%;
    animation: js 3s;
}

.css {
    width: 80%;
    animation: css 3s;
}

.boostrap {
    width: 70%;
    animation: boostrap 3s;
}

.javascript {
    width: 60%;
    animation: javascript 3s;
}

@keyframes html {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes js {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes css {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes boostrap {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes javascript {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/*media query*/

@media(min-width:320px) {
    .skill-section {
        width: 90%;
        margin: auto;
    }

    .class-skill {
        width: 300px;
    }
}

@media(min-width:690px) {
    .skill-section {
        width: 90%;
        margin: auto;
    }

    .class-skill {
        width: 500px;
    }
}

@media(min-width:1024px) {
    .skill-section {
        width: 100%;
        margin: auto;
    }

    .class-skill {
        width: 600px;
    }
}

/*Project section*/

.projects {
    padding: 30px;
}

.projects h2:hover,
.h2-mini:hover {
    color: hsl(325, 100%, 50%);
}

.projects h2,
.h2-mini {
    text-align: center;
    margin-bottom: 30px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.project:hover {
    box-shadow: 0.5px 0.5px 5px 5px #00dfe7;
}

.project-box:hover {
    transition: all 1s;
    transform: scale(1.1, 1.1);
}

.project img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.project h3 {
    margin-bottom: 10px;
}

.project p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.project a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/*Contact section*/

.contact-sec {
    padding: 30px;
}

.contact-container {
    width: 80%;
    margin: auto;
}

.contact-container h1 {
    font-size: 50px;
    text-align: center;
    padding: 40px 20px 30px 20px;
}

.contact-container h1:hover {
    color: #0497ff;
}

.contact-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-col {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 2px 2px 10px 2px #7e9391;
    padding: 10px;
    margin: 10px;
    height: auto;
}

.contact-col:hover {
    transition: all 2s;
    box-shadow: 2px 2px 10px 2px #00dfe7;
}

.contact-col:hover {
    border-radius: 30px 30px 30px 0;
}

.contact-col:hover .contact-box {
    transform: scale(1.1);
    transition: all 1s;
}

.contact-icon iconify-icon {
    font-size: 50px;
    color: #0497ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content p {
    line-height: 10px;
}

.contact-content a {
    text-decoration: none;
    color: #000;
}

.contact-box {
    padding: 20px;

}

/*meida query*/

@media(min-width:320px) {
    .contact-container {
        width: 90%;
    }

    .contact-row {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-col {
        width: 80%;
        height: 100vh;
    }
}

@media(min-width:690px) {
    .contact-container {
        width: 90%;
    }

    .contact-row {
        display: flex;
        flex-wrap: nowrap;
    }

    .contact-col {
        width: 33.3%;
        height: 100vh;
    }
}

@media(min-width:1024px) {
    .contact-container {
        width: 80%;
    }

    .contact-row {
        display: flex;
        flex-wrap: nowrap;
    }

    .contact-col {
        width: 33.3%;
        height: 50vh;
    }
}


/*footer section*/

.foot-sec {
    background-color: #7e9391;
}

.foot-container {
    width: 80%;
    margin: auto;
}

.foot-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-col {
    text-align: center;
    padding: 20px;
}